version: '3'
services:
  # rabbitmq:
  #   image: rabbitmq:3-management
  #   container_name: rabbitmq
  #   restart: always
  #   environment:
  #     RABBITMQ_DEFAULT_USER: dianhsu
  #     RABBITMQ_DEFAULT_PASS: dianbot
  #   volumes:
  #     - ./data/rabbitmq:/var/lib/rabbitmq
  # postgres:
  #   image: postgres:alpine
  #   container_name: postgres
  #   restart: always
  #   environment:
  #     POSTGRES_USER: dianhsu
  #     POSTGRES_PASSWORD: dianbot
  #     POSTGRES_DB: bot
  #   volumes:
  #     - ./data/postgres:/var/lib/postgresql/data
  # redis:
  #   image: redis:alpine
  #   container_name: redis
  #   restart: always
  #   volumes:
  #     - ./data/redis:/data
  bot:
    image: dianbot
    build:
      context: .
      dockerfile: Dockerfile 
    restart: always
    environment:
      KOOK_TOKEN:
      DATABASE_URL: postgresql://dianhsu:dianbot@postgres:5432/bot
      REDIS_URL: redis://redis:6379
      RABBITMQ_URL: amqp://dianhsu:dianbot@rabbitmq:5672
    # depends_on:
    #   - postgres
    #   - redis 
    #   - rabbitmq